<configuration>
    <appender name="PLAIN_TEXT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%d{yyyy-MM-dd'T'HH:mm:ssZ,UTC} %level %logger{0}) - %msg%replace( [%mdc]){' \[\]', ''}%n</pattern>
        </encoder>
    </appender>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <timeZone>UTC</timeZone>
                    <pattern>yyyy-MM-dd'T'HH:mm:ssZ</pattern>
                </timestamp>

                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>

                <message>
                    <fieldName>message</fieldName>
                </message>

                <context/>
                <mdc/>

                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>

                <stackTrace>
                    <fieldName>stackTrace</fieldName>
                </stackTrace>

                <pattern>
                    <omitEmptyFields>true</omitEmptyFields>
                    <pattern/>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <logger name="com.github.brunomartinscorrea" level="${LOG_LEVEL:-DEBUG}"/>

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="${LOG_FORMAT:-PLAIN_TEXT}"/>
    </root>
</configuration>
